<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h1>Bienvenido {{nombreUsuario}}!</h1>
        </div>
        <div class="card-body" [formGroup]="formulario">
            <div class="row">
                <div class="form-group" class="col-lg-6 col-md-6 col-sm-12">
                    <label for="primerApellido">Primer Apellido</label>
                    <input formControlName="primerApellido" id="primerApellido" class="form-control" type="text" placeholder="Primer Apellido" maxlength="30">
                </div>
                <div class="form-group" class="col-lg-6 col-md-6 col-sm-12">
                    <label for="segundoApellido">Segundo Apellido</label>
                    <input formControlName="segundoApellido" id="segundoApellido" class="form-control" type="text" placeholder="Segundo Apellido" maxlength="30">
                </div>
            </div>
            <div class="row justify-content-end" style="margin-top: 1em; padding-right: 1em;">
                <button class="btn btn-info" [disabled]="formulario.invalid" (click)="onGuardar()">Guardar</button>
            </div>
        </div>
        <div class="card-footer text-muted">
            <span class="text-mute">Este es un Web Component "projects/dos".</span>
        </div>
    </div>
</div>